*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.resDes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    width: 80%;
    height: 32vh;
    
    margin-top: -169px;
    background-color: rgb(167, 255, 226);
    padding: 12px;
    position: sticky;
    top: 2%;
    left: 10%;
    
}


.resImg {
    background-color: aqua;
    border-radius: 7px;
    width: 38%;
    height: 100%;
}

.descrp {
    /* height: 266px; */
    padding: 19px 12px;
}


.menu-container{
    
    /* background-color: aquamarine; */
    
    
    padding: 8px 8px;
    width: 70%;
    
    max-height: 58vh;
    overflow: scroll;
    scrollbar-track-color: red;
}
.buttons{
    padding: 26px;
    position: sticky;
    top: 194px;
    margin: 0px 33px;
}

.menu{

}
.details{
    margin-left: 17px;
}
.route-btn{
    background: #3d5b8f;
    border: none;
    padding: 9px 19px;
    border-radius: 25px;
    color: aliceblue;
}

.listings{
    background-color: bisque;
    margin: 10px 23px;
    display: flex;
    padding: 8px;
    border-radius: 12px;
}
.dish-img{
    height: 88px;
    width: 88px;
    background-color: burlywood;
    border-radius: 8px;
}
.dishes{
    margin: 10px;
}


.image-holder{
    
    height: 248px;
    background-color: #304569;
    position: sticky;
    top: -9px;
    
}

.cart{
    /* background-color: aquamarine; */
    width: 30%;
    
}
.menu-cart-container{
    display: flex;
    padding:0px 57px
}
.menu-body{

}
